# Default environment variables for stream filter
NUM_CUSTOMERS=100000
MAX_DATE=100000
MAX_SPAN=10
MAX_SPLITS=100
EVENT_COUNT=2000000
MSS=1400
FILTER_HOST=filter
FILTER_PORT=8080
ROUTER_HOST=router
ROUTER_PORT=8000
